.feedback {
  background-color: $blue;
  background-image: url("../img/bg-contacts-airplane@1x.png"), url("../img/header-bg-triangle.svg"), url("../img/advantage-bg-triangle-small-left.svg"), url("../img/advantage-bg-triangle-small-right.svg");
  background-repeat: no-repeat;
  background-position: 25% 42%, 15% 51%, 94% 20%, 105% 83%;
  background-size: 26%, 32%, 9%, 15%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-contacts-airplane@2x.png"), url("../img/header-bg-triangle.svg"), url("../img/advantage-bg-triangle-small-left.svg"), url("../img/advantage-bg-triangle-small-right.svg");
  }
}

.feedback__wrap {
  position: relative;

  padding: 85px 9.5% 103px;
}

.feedback__form {
  width: 50%;
  margin-left: auto;
  padding: 6px 0 11px 15px;
}

.feedback__form h2 {
  margin-left: -4px;
  margin-bottom: 10px;

  font-family: $main-regular;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  color: $white;
}

.feedback__form p {
  margin-bottom: 48px;

  font-family: $main;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.feedback__form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.feedback__form-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.feedback__form-wrap input {
  width: 47%;
  margin-bottom: 40px;
  padding: 15px 16px;

  color: $white;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.feedback__form-wrap textarea {
  width: 100%;
  max-height: 154px;
  margin-bottom: 47px;
  padding: 15px 16px;

  color: $white;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  resize: none;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.feedback__form-wrap input::placeholder,
.feedback__form-wrap textarea::placeholder {
  font-family: $main;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.feedback__form-btn {
  width: 47%;
  max-width: 285px;
  padding: 13px 74px;

  font-family: $main-bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;

  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.feedback__form-consent {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 46%;
}

.feedback__form-consent label {
  position: relative;

  width: 100%;
  max-width: 270px;
  padding-left: 32px;

  font-family: $main;
  font-size: 14px;
  line-height: 16px;
  color: $white;

  opacity: 0.8;
  cursor: pointer;

  &::before {
    @include pseudo;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;

    border: 1px solid $white;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.feedback__form-consent input:checked + label::after {
  @include pseudo;
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;

  background-image: url("../img/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.feedback__form-consent input:checked + label {
  &:hover,
  &:focus {
    opacity: 1;
  }
}

@media (max-width: 1580px) {
  .feedback {
    background-position: 10% 50%, 0 50%, 94% 20%, 105% 83%;
    background-size: 25%, 40%, 9%, 15%;
  }

  .feedback__form {
    width: 70%;
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    background-image: none;
  }

  .feedback__wrap {
    margin: 0 3%;
    padding: 85px 0 104px;
    background-image: none;
  }

  .feedback__form {
    width: 100%;
    padding: 0 68px;
  }

  .feedback__form h2 {
    margin-bottom: 22px;
    font-size: 32px;
    line-height: 34px;
  }

  .feedback__form p {
    margin: 0 0 51px 2px;
  }

  .feedback__form-wrap input {
    margin-bottom: 46px;
    padding: 15px 18px;
  }

  .feedback__form-wrap textarea {
    margin-bottom: 52px;
    padding: 12px 19px 19px;
  }

  .feedback__form-btn {
    width: 48%;
    max-width: 280px;
  }

  .feedback__form-consent {
    padding: 3px 0 0 3px;
  }
}

@media (max-width: $mobile-width) {
  .feedback__wrap {
    margin: 0 5%;
    padding: 29px 0 42px;
  }

  .feedback__form {
    padding: 0;
  }

  .feedback__form h2 {
    margin-bottom: 13px;
    margin-left: -1px;
    font-size: 28px;
    line-height: 39px;
  }

  .feedback__form p {
    margin: 0 0 22px 0;
  }

  .feedback__form-wrap {
    justify-content: center;
  }

  .feedback__form-wrap input {
    width: 100%;
    margin-bottom: 34px;
    padding: 15px 16px;
  }

  .feedback__form-wrap textarea {
    max-height: 104px;
    margin-bottom: 31px;
    padding: 12px 16px 19px;
  }

  .feedback__form-btn {
    width: 100%;
    max-width: 295px;
    margin-bottom: 32px;
  }

  .feedback__form-consent {
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .feedback__form-consent label {
    padding-left: 24px;

    &::before {
      left: -9px;
    }
  }

  .feedback__form-consent input:checked + label::after {
    left: -9px;
  }
}
