.services {
  background-color: $blue-dark;
}

.services__wrap {
  margin: 0 9.5%;
  padding: 88px 0 107px;
}

.services__wrap h2 {
  margin-bottom: 52px;

  font-family: $main-regular;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  position: relative;

  width: 31.6%;
  height: 620px;
  margin-right: 2.6%;
  margin-bottom: 20px;
  padding: 50px 44px;

  background-color: #233b48;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 370px, auto;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &--production {
    background-image: url("../img/services-item-production@1x.png");
  }

  &--montage {
    background-image: url("../img/services-item-montage@1x.png");
  }

  &--parts {
    background-image: url("../img/services-item-parts@1x.png");
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .services__item {
      &--production {
        background-image: url("../img/services-item-production@2x.png");
      }

      &--montage {
        background-image: url("../img/services-item-montage@2x.png");
      }

      &--parts {
        background-image: url("../img/services-item-parts@2x.png");
      }
    }
  }
}

.services__item h3 {
  max-width: 170px;

  font-family: $main-regular;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $white;
}

.services__item span {
  position: absolute;
  right: 0;
  bottom: 0;

  display: inline-block;
  vertical-align: middle;
  width: 63px;
  height: 63px;

  background-color: $blue;

  &::before,
  &::after {
    @include pseudo;
    left: 50%;

    width: 6px;
    height: 1px;

    background-color: $white;
  }

  &::before {
    top: 50%;

    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    top: 55%;

    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media (max-width: $tablet-width) {
  .services__wrap {
    margin: 0 3.5%;
    padding: 50px 0 80px;
  }

  .services__wrap h2 {
    width: 85%;
    margin-left: -1px;
    margin-bottom: 47px;

    font-size: 32px;
    line-height: 45px;
  }

  .services__list {
    flex-direction: column;
  }

  .services__item {
    width: 100%;
    height: 256px;
    margin-right: 0;
    margin-bottom: 46px;
    padding: 42px 43px;

    background-position: 50% 50%;
    background-size: 100% auto;

    &:last-of-type {
      margin-bottom: 0;
      padding: 52px 43px;
    }

    &--production {
      background-image: url("../img/services-item-production-tablet@1x.png");
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .services__item {
      &--production {
        background-image: url("../img/services-item-production-tablet@2x.png");
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .services__wrap {
    margin: 0 4%;
    padding: 50px 0 68px;
  }

  .services__wrap h2 {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 39px;

    font-size: 28px;
    line-height: 39px;
  }

  .services__item {
    margin-bottom: 30px;
    padding: 23px 37px;

    &--production {
      background-image: url("../img/services-item-production-mobile@1x.png");
    }
  }

  .services__item:last-of-type {
    padding: 33px 38px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .services__item {
      &--production {
        background-image: url("../img/services-item-production-mobile@2x.png");
      }
    }
  }
}
