/* Viewports */
$desktop-width: 1200px;
$tablet-width: 1023px;
$mobile-width: 767px;

/* Retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Fonts */
$main: "PT-Mono", "Arial", sans-serif;
$main-regular: "Roboto-Condensed", "Arial", sans-serif;
$main-bold: "Roboto-Condensed-Bold", "Arial", sans-serif;
$medium: "Roboto-Medium", "Arial", sans-serif;

/* Color */
$black-main: #000000;
$white: #ffffff;
$blue: #00b2ff;
$blue-dark: #1b2d37;
$grey: #666666;
$blue-border: #00b2ff;
